<h1>Add a new group</h1>
<% form_for(@group) do |f| %>
  <%= f.error_messages %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Add' %>
</p>
<% end %>
<small><%= link_to 'Back', groups_path %></small>