<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% form_for @user do |f| %>
<table class="form_new">
  <tr>
    <td>
      <%= f.label :login %>
    </td>
    <td>
      <%= f.text_field :login %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :password %>
    </td>
    <td>
      <%= f.password_field :password %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :firstname %>
    </td>
    <td>
      <%= f.text_field :firstname %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :lastname %>
    </td>
    <td>
      <%= f.text_field :lastname %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :male %>
    </td>
    <td>
      <%= f.check_box :male %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :birthday %>
    </td>
    <td>
      <%= f.date_select :birthday %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :score %>
    </td>
    <td>
      <%= f.text_field :score %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :admin %>
    </td>
    <td>
      <%= f.check_box :admin %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :blocked %>
    </td>
    <td>
      <%= f.check_box :blocked %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.submit 'Add' %>
    </td>
  </tr>
</table>
<% end %>